.form__name {
    width: 358px;
    height: 30px;
    margin-top: 22px;
    margin-left: 34px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
}


@media screen and (max-width: 970px) {
    .form__name {
        margin-top: 75px;
        margin-left: 20px;
        width: 238px;
    }
}
