.popup__closed {
    position: absolute;
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
    background-image: url(../../../images/Close\ Icon\ \(1\).png);
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

@media screen and (max-width: 970px) {
    .popup__closed {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
        background-size: cover;
    }
}