.form_job {
    height: 32px;
    margin-top: 21px;
    width: 358px;
    margin-left: 34px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
}

@media screen and (max-width: 970px) {
    .form__job {
        margin-top: 23px;
        width: 238px;
        margin-left: 20px;
    }
}