.header__logo {
    margin: 0;
    padding: 45px 0 41px 0;
    max-width: 142px;
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 104px;
        margin-left: 27px;
        padding-bottom: 31px;
        padding-top: 0;
    }
    }