.profile__subtitle {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    grid-column: -3 / -1;
    white-space: nowrap;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 970px){
    .profile__subtitle {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
        margin-left: 19px;
        margin-right: 19px;
        text-align: center;
    }
}