.profile__add-button {
    margin: 0 auto;
    margin-right: 0;
    padding: 0;
    display: flex;
    align-self: center;
    box-sizing: border-box;
    background-image: url(../../../images/Vector\ \(2\).png);
    background-color: #000000;
    height: 50px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    color: white;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

@media screen and (max-width: 970px) {
    .profile__add-button {
        width: 282px;
        height: 50px;
        margin: 31px auto 0 auto;
    }
}