.form__input {
    width: 358px;
    height: 30px;
    margin-top: 22px;
    margin-left: 34px;
    border-bottom: 1px solid rgb(0, 0, 0, .2);
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
}

.form__input:last-child {
    height: 32px;
    margin-top: 21px;
}

@media screen and (max-width: 970px) {
    .form__input {
        margin-top: 52px;
        margin-left: 20px;
        width: 238px;
    }
}

@media screen and (max-width: 970px) {
    .form__input:last-child {
        margin-top: 23px;
    }
}
