.elements__like {
    background-image: url(../../../images/Vector\ \(Stroke\).png);
    width: 22px;
    height: 19px;
    align-self: center;
    justify-self: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: none;
    cursor: pointer;
    margin-right: 9px;
    transition: opacity .3s ease-in-out;
}