.elements__like {
    background-image: url(../../../images/Vector\ \(Stroke\).png);
    margin-right: 20px;
    width: 22px;
    height: 30px;
    display: block;
    background-position: center;
    border: none;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
}