.elements__like {
    background-image: url(../../../images/Vector\ \(Stroke\).svg);
    width: 22px;
    height: 19px;
    align-self: center;
    justify-self: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: none;
    cursor: pointer;
    margin-right: 9px;
}

.elements__like:hover {
    opacity: 0.5;
    transition: ease-in-out;
}