.profile__info {
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 24px;
    grid-column-gap: 18px;
    grid-row-gap: 8px;
}

@media screen and (max-width: 970px) {
    .profile__info {
        grid-template-columns: 1fr 18px;
        grid-column-gap: 14px;
        grid-row-gap: 8px;
    }
}