.container {
    display: block;
    background-color: black;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
}