.elements__element {
    max-width: 282px;
    min-height: 361px;
    background-color: white;
    border-radius: 10px;
    color: black;
    display: grid;
    grid-template: 282px / 230px;
    position: relative;
}